<h1 #viewChildRef> This is a Parent Component </h1>
<h2 #viewChildRef> This is a DOM Component </h2> 

<h1 #viewChildDemoRef> This is a Child Component </h1>
<p>
    Value of parent variable = {{ parentVariable }}
</p>

<p>
    Value of output variable = {{ outputVariable }}
</p>


<h1>
    Lifecycle event sequence
</h1>

<h3> 1st - ngOnChanges() </h3>

<h3> 2nd - ngOnInit() </h3>

<h3> 3rd - ngDoCheck() </h3>

<h3> 4th - ngAfterContentInit() </h3>

<h3> 5th - ngAfterContentChecked() </h3>

<h3> 6th - ngAfterViewInit() </h3>

<h3> 7th - ngAfterViewChecked() </h3>

<h3> 8th - ngOnDestroy() </h3>



<app-child-demo></app-child-demo>
