<div fxFlex= "100" fxLayout="row" fxLayoutAlign="start" fxLayoutGap = "">
    <div fxFlex= "50" fxLayout="row" fxLayoutAlign="start" fxLayoutGap = "">
        <div fxFlex= "25" fxLayout="row" fxLayoutAlign="start" fxLayoutGap = "">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint et facilis consectetur nobis, illo placeat unde animi rerum. Incidunt voluptate corporis eveniet recusandae debitis, ullam inventore saepe voluptates consequuntur distinctio.
        </div>
        
        <div fxFlex= "25" fxLayout="row" fxLayoutAlign="start" fxLayoutGap = "">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nemo! Vitae voluptas non esse, modi aliquid animi, nobis porro unde ut dignissimos aliquam, eos molestias doloribus reprehenderit veniam! Facilis, tenetur!
        </div>
    </div>
    <div fxFlex= "50" fxLayout="row" fxLayoutAlign="start" fxLayoutGap = "">
        <div fxFlex= "25" fxLayout="row" fxLayoutAlign="start" fxLayoutGap = "">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint et facilis consectetur nobis, illo placeat unde animi rerum. Incidunt voluptate corporis eveniet recusandae debitis, ullam inventore saepe voluptates consequuntur distinctio.
        </div>
        
        <div fxFlex= "25" fxLayout="row" fxLayoutAlign="start" fxLayoutGap = "">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nemo! Vitae voluptas non esse, modi aliquid animi, nobis porro unde ut dignissimos aliquam, eos molestias doloribus reprehenderit veniam! Facilis, tenetur!
        </div>
    </div>
</div>
